@model IEnumerable<IdentityDimo.Models.Categorys>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@_loc["Welcome"]</h1>
    @foreach (var obj in Model)
    {
        
        @Helper.Lang(@obj.Name)
    }

</div>
